.card {
  border-radius: 30px;
  padding: 32px;
  background-color: var(--very-dark-blue);
  max-width: 412px;
}

/* mobile */
@media (max-width: 376px) {
  .card {
    max-width: 327px;
  }
}

.card > *:first-child {
  margin-bottom: 30px;
}

.card > *:nth-child(2) {
  margin-bottom: 8px;
}
